@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7E1AE !important;
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.no-padding {
  padding: 0 !important;
}

.RightPanel {
display: flex;
align-self: center;
justify-content: center;
align-content: center;
flex:1
}
.SelectionContainer {
  justify-content: center;
  align-items: center;
  flex:1;
  margin: 5%;
}
.Selector {
  flex: 1;
  height: 100%;
  background-color: #81F499;
}
.headerContainer {
  background-color: #617A55;
}
.textContainer {
  max-height: 100%;
  max-width:100%;
  height: 100%;
  width:100%;
  justify-content: center;
  display:flex;
  font-family: 'VT323';
  font-size: 4em;
  color: whitesmoke;
  align-content: center;
}
.inner-container {
  background: yellow;
  width: 80%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}
.map-image {

zoom:200fr;
}